html {
	height: 100%;
	width: 100%;
}

body {
	box-sizing: border-box;
    display: flex;
	  min-height: 100%;
    width: 100%;
}

#app {
  width: 100vw;
}

.main-page {
  background: linear-gradient($light-blue, rgb(211, 208, 208)) no-repeat;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  height: 57vh;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.header h1 {
  display: none;
}

.search {
  box-shadow: 0 0 5px 5px white;
}

.card {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 5px white;
  display: flex;
  height: 23vh;
  justify-content: center;
  border: 1px solid white;
  width: 12%;
  margin: 1em;
  border-radius: 10%;
}

.daily-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hourly-card {
  text-align: center;
}

.current-weather {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 5px white;
  border: 1px solid white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5em;
  margin: 3.3em 2em 4em 2em;
  padding: .3em;
  text-align: center;
  width: 30%
}

.current-weather h1 {
  font-size: 1.3em;
}

.daily {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0 1.3rem 0 3rem;
}

.daily h1 {
  font-size: 1.6em;
  margin: .5em;
}

.contrastData {
  color: $light-blue;
}

.hourly {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: 8px;
  width: 70vw;
  justify-content: space-around;
  margin: 0 1rem 0 0;
}