* {
  box-sizing: border-box;
  margin: 0;
}
.welcome {
  @include linearGradient($light-blue, $dark-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: auto;
    color: white;
    font-size: 6em;
  }
  form {
    margin: 0 auto 5em;
    input {
      width: 40vw;
      height: 3em;
      margin: .25rem;
    }
    button {
      margin: .25rem;
      height: 3em;
    }
  }
}
