.search {
  
  box-shadow: 0 0 5px 5px white;

  input {
    border: none;
    vertical-align: middle;
    font-size: 1.5em;
    font-family: $body-font;
    width: 40vw;
    padding: .4em;
  }
  button {
    background: white;
    border-radius: initial;
    color: $dark-blue;
    vertical-align: middle;
    height: 3em;
    outline: none;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}